# Maven build
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Backup files
*.class
*.swp
*.swo
*.bak
*.tmp

# Compiled class files
*.class

# Maven local repo (optional, only if cached locally)
/.mvn/

# Envir
